@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&family=Poppins&display=swap');

:root {
    --primary-color: #BE123C;
    --grey-color: #4B5563;
    --off-white: #FFF7ED;
    --option-one: #F5F5F4;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px;
    max-width: 100%;
    height: auto;
}

.con {
    padding-left: 1rem;
    padding-right: 1rem;
}

.center-container {
    max-width: 80%;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: inline-block;
    margin-bottom: 5px;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: inline-block;
    margin-bottom: 5px;
}

hr {
    margin: 2rem 0rem;
}

.no-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline-flex;

}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    flex-direction: row;
}

.list-links {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.navigation a{
    float: right;
}

header {
    display: inline;
}

.unordered {
    text-align: right;
    margin: 0;
    padding-inline-start: 0px;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.4rem;
}

.navigation .link-active {
    font-weight: bolder;
    color: #D1D5DB;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 100%;
    height: auto;
    align-self: center;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    color: var(--grey-color);
    text-align: center;
    font-size: 1.7rem;
}

.section {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    width: 45%;
    margin: auto;
    border-radius: 1rem;
}

/* .section-one{
    border: solid #D1D5DB 1px;
    border-color:#9CA3AF;
} */

.section h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.bg-section {
    background-color: var(--option-one);
    border-bottom: #4B5563 solid 1px;
}

.footer {
    background-color: var(--primary-color);
    margin: auto;
    padding: 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    max-width: 100%;
    height: auto;
}

.footer .link {
    color: white;
    padding: 1.5rem;
}

.footer .footer-header {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: inherit;
}

.footer ul {
    padding-inline-start: 0px;
}

.para {
    text-align: justify;
}

.link-container {
    text-align: center;
    padding: 1rem;
}

.section .date {
    text-align: right;
}

:-webkit-any(article, aside, nav, section) h1 {
    margin-block-start: 0.83em;
    margin-block-end: 0em;
}

.list-links:hover {
    color: black;
}

.link-social:hover {
    filter: invert(100%);
}

.link-social {
    padding: 0.5rem;
}

.link-primary:hover {
    background-color: #E11D48;
}

.link-secondary:hover {
    background-color: #9CA3AF;
    color: black;
    border-color: #9CA3AF;
}

.social-links{
    margin: 0px auto;
}

.img{
    width: 25px;
    height: 25px;
}